.misvis-container {
  width: 100%;
  height: 100%;
  background-image: url("../images/wood2000.jpg");
  background-attachment: fixed;
	background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 5%;
}
.mission-container {
  width: 100%
}
.mission {
  width: 60%;
  padding: 2% 2%;
  position: relative;
  float: right;
  margin-top: 7%;
}
.mission h1 {
  float: left;
  margin-left: 5%;
  font-variant: small-caps;
}
.mission .textbox {
  width: 100%;
  height: 30%;
  border-radius: 1rem;
  padding: 3% 3%;
  margin-top: 7%;
}
.vision-container {
  width: 100%
}
.vision {
  width: 60%;
  padding: 2% 2%;
  position: relative;
  float: right;
}
.vision h1 {
  font-size: 48px;
  color: #e6e6e6;
  float: left;
  margin-left: 5%;
  font-variant: small-caps;
}
.vision .textbox {
  width: 100%;
  height: 30%;
  background: rgb(89, 81, 81);
  border-radius: 1rem;
  padding: 3% 3%;
  margin-top: 7%;
}
.misvis-container p {
  color: white;
}
