@charset "UTF-8";
*
{
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
  font-family: "MyriadPro";
  src: url('../fonts/MyriadPro.otf'),url('../fonts/MyriadPro.otf');
}

html
{
	height: 100%;
  font-family: "MyriadPro";
}

body
{
	height: 100%;
	background: #eff1f4;
  font-family: "MyriadPro";
}

/* Viewports */

.row::after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

[class*="col-"]
{
  float: left;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* End of Viewports */

.body-holder {
  height: 100%;
  width: 80%;
  margin-left: 20%;
}

.header {
  text-align: right;
  font-family: "MyriadPro";
  color: #233d91;
  font-size: 15px;
  padding: 1.5%;
  background: linear-gradient(to right, rgb(68, 68, 68), black);
}

.header h2 {
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 5px;
  color: #B3B3B3;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
  font-size: 18px;
}

.cpanel {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;

  background: -webkit-linear-gradient(rgb(68, 68, 68), black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(68, 68, 68), black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#rgb(68, 68, 68), black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(68, 68, 68), black); /* Standard syntax (must be last) */
}

.cpanel h2 {
  text-align: center;
  color: #B3B3B3;
  padding: 5%;
  margin-bottom: 5%;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 20px;
}

.borderTop {
  border-top: 1px solid rgba(140, 140, 140, 0.15);
}

.cpanel a {
  border-bottom: 1px solid rgba(140, 140, 140, 0.15);
  padding: 5%;
  text-decoration: none;
  font-family: "MyriadPro";
  font-size: 12px;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: #B3B3B3;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

.cpanel a:hover{
  background-color: #ad8f73;
  color: #676060;
  font-weight: bold;
}

@media (max-width: 320px){}
@media (min-width: 321px) and (max-width: 545px) {}
@media (min-width: 546px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1096px) {}
