ul.topnav {
	z-index: 20;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(30,30,30,0.7);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	display: block;
	padding-left: auto;
	padding-right: auto;
	font-variant: small-caps;
	transition: 0.5s;
}

ul.topnav li {
  display: inline-block;
	padding-left: 2%;
}

ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 20px;
}

ul.topnav li a:hover {
  background-color: #555;
	cursor: pointer;
}

ul.topnav li.icon {
	display: none;
}
ul.topnav li a.login
 {
	position: absolute;
	top: 0;
	right: 2%;
}
ul.topnav li a.logout
 {
	position: absolute;
	top: 0;
	right: 2%;
}
ul.topnav li a.edit
 {
	position: absolute;
	top: 0;
	right: 11%;
}
/* End of Header */



/* Mobile Version */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
	ul.topnav li a.login
	 {
		position: relative;
		top: inherit;
		right: inherit;
	}
}

@media screen and (max-width:680px)
{
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
